body {
    margin-top: 100px;
    color: blue;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, .5);*/
}

.controls-group {
    margin-bottom: 20px;
}

.btn-verification {
    font-weight: bold;
}

.alert-verification {
    display: block;

}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(249, 249, 249, .1);
}

.results-template {
    display: none;
}

table {
    table-layout: fixed;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

td.results-time {
    text-align: right;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: rgba(249, 249, 249, .1);
}

.generate-button-group {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.generate-button-group .btn {
    margin-left: 10px;
    margin-right: 10px;
}

#upload-key-group .form-control{
    margin-right: 8px;

}

.input-error {
    background-color: #ffd9d9;
}

.cover {
    width: 50%;
    text-align: center;
    margin: 100px auto 0;
}

/* Personalizacion de Bootstrap */

.form-control[readonly]{
    cursor: auto;
}

.form-horizontal .control-label {
    text-align: left;
}

.container.containerApp {
    width: 95%;
    margin-left: 2%;
    margin-bottom: 5%;
}

body{
    margin-bottom: 5%;
}

.generate-button-group{
    margin-left: 30%;
    text-align: left;
}

.claves label{
    text-align: left;
    margin-right: 5%;
}

.claves div{
    margin-right: 3%;
}

.title{
    margin-bottom: 3%;
}

.clave{
    clear:both;
}

.copy-btn{
    margin-left: 5%;
}

.space{
    clear:both;
}

.col-md-3-4{
    width: 30%;
    float: left;
}